Repository brianclin/resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-critical, run-sass

run-critical:
  name: run critical
  entry: gulp critical
  language: system
  pass_filenames: false

run-sass:
  name: run sass
  entry: gulp sass
  language: system
  pass_filenames: false

chore: preload iconify icons
  terraform/index-critical.html
  terraform/index.html
Due: run-critical

chore: remove defer
  terraform/index-critical.html
  terraform/index.html
Due: run-critical

chore: add back defer
  terraform/index-critical.html
  terraform/index.html
Due: run-critical

chore: lazyload all images
  terraform/index-critical.html
  terraform/index.html
Due: run-critical

refactor: use terraform-aws-s3-website module
  terraform/.terraform.lock.hcl
  terraform/certificate.tf
  terraform/cloudfront.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/route53.tf
  terraform/s3.tf
Due: none

chore: set ref for module
  terraform/.terraform.lock.hcl
  terraform/main.tf
Due: none

chore: update tf module
  main.tf
Due: none

chore: remove overrides
  package-lock.json
  package.json
Due: none

chore: explicitly say 4.0.0 and run tf apply on package.json and package-lock.json changes
  .github/workflows/ci.yaml
Due: none

chore: correct filename
  .github/workflows/ci.yaml
Due: none

chore: run prettier
  renovate.json
Due: none

feat: add Cobalt
  assets/svg/cobalt-darkmode.svg
  assets/svg/cobalt.svg
  index.html
  terraform/index-critical.html
Due: run-critical

chore: update base for critical task
  gulpfile.js
  index-critical.html
  terraform/index-critical.html
Due: none

chore: remove bullet point
  index-critical.html
  index.html
Due: run-critical

feat: remove hosted zone
  .terraform.lock.hcl
  main.tf
Due: none

chore: update to bulma v1
  index-critical.html
  index.html
Due: run-critical

Revert "chore: update to bulma v1"
  index-critical.html
  index.html
Due: run-critical

feat: remove count lambda
  api_gateway.tf
  dynamodb.tf
  index-critical.html
  index.html
  lambda.py
  lambda.tf
  lambda.zip
  locals.tf
Due: run-critical

feat: update to use bulma v1 dark mode
  assets/styles.css
  assets/styles.scss
  assets/svg/reggora-darkmode.svg
  assets/svg/ucla-darkmode.svg
  gulpfile.js
  index-critical.html
  index.html
Due: run-critical, run-sass

chore: lazyload datadog dark image
  index-critical.html
  index.html
Due: run-critical

chore: update import statement
  gulpfile.js
Due: none

chore: remove unneeded css
  assets/styles.css
  assets/styles.scss
Due: run-sass

chore: preload bulma timeline
  index-critical.html
  index.html
Due: run-critical

chore: preload rest of css
  index-critical.html
  index.html
Due: run-critical

chore: update src to data-src
  index-critical.html
  index.html
Due: run-critical

chore: only import what is needed for bulma
  assets/styles.css
  assets/styles.scss
  index-critical.html
Due: run-sass

Revert "chore: only import what is needed for bulma"
  assets/styles.css
  assets/styles.scss
  index-critical.html
Due: run-sass

ci: update terraform lock
  .terraform.lock.hcl
Due: none

ci: trigger on .terraform.lock.hcl
  .github/workflows/ci.yaml
Due: none

ci: update terraform version to 1.13.4
  .github/workflows/ci.yaml
Due: none

ci: run tf init -upgrade
  .terraform.lock.hcl
Due: none

chore: update bulma version
  index-critical.html
  index.html
Due: run-critical

refactor: update dark mode skills icons
  assets/svg/docker-darkmode.svg
  assets/svg/docker.svg
  index-critical.html
  index.html
Due: run-critical

refactor: update docker logos
  assets/svg/docker-darkmode.svg
  assets/svg/docker.svg
  index-critical.html
  index.html
Due: run-critical

chore: update to 1.4.2
  main.tf
Due: none

chore: update to 1.4.3
  main.tf
Due: none

chore: add main landmark
  index-critical.html
  index.html
Due: run-critical

refactor: change to size 4
  index-critical.html
  index.html
Due: run-critical

Path conditions:
  run-critical: any of: index.html
  run-sass: any of: styles.scss
